'comment': 'Josh Syntax: version 0.1.2'
'fileTypes': [
  'jsh'
]
'name': 'JoshScript'
'patterns': [
  {
    'begin': '\\('
    'captures':
      '0':
        'name': 'punctuation.definition.comment.jsh'
    'end': '\\)'
    'name': 'comment.block.jsh'
  }
  {
    'match': '(JoSh|jOsH)'
    'name': 'keyword.control.jsh'
  }
  {
    'match': '(joSH|joSh)'
    'name': 'support.function.jsh'
  }
  {
    'match': '(JOSh|Josh|JOSH|josh)'
    'name': 'constant.language.jsh'
  }
  {
    'match': '(JOsh|JosH)'
    'name': 'variable.other.jsh'
  }
]
'scopeName': 'source.jsh'
